// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;
@cat-navi-height:		50px;


// Brand colors
// -------------------------

@brand-primary:         #3BBEE9;
@white:					#FFFFFF;
@yellow:				#F3BB33;
@yellow-dark:			#B37D00;
@blue-light:			#B3D4FC;
@blue:					#3BBEE9;
@blue-dark:				#2494E2;
@gray-lighter:			#EDEDED;
@gray-light:			#A5A5A5;
@gray:					#A3A3A3;
@gray-dark:				#777777;
@gray-darker:			#222222;
@gray-border-light:		#E1E4E5;
@gray-border:			#E6E6E6;


// Font size settings
// -------------------------

@font-size-small: .75em;


// Font size settings
// -------------------------

@transition-ease:		.15s ease;


// Padding and margin settings
// -------------------------

@padding:				20px;
@padding-small:			@padding / 2;
@padding-tiny:			@padding / 4;
@padding-big:			@padding * 1.5;
@padding-bigger:		@padding * 2;
@padding-huge:			@padding * 3;

@margin:				@padding;
@margin-small:			@margin / 2;
@margin-tiny:			@margin / 4;
@margin-big:			@margin * 1.5;
@margin-bigger:			@margin * 2;
@margin-huge:			@margin * 3;


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";


// Responsive settings
// -------------------------

@grid-float-breakpoint:     @screen-md-min;
@grid-gutter-width:			40px;
@container-large-desktop:	(1240px + @grid-gutter-width);
