.display-table {
	display: table;
	> * {
		display: table-cell;
		float: none;
	}
	&.table-full {
		.square(100%);
	}
	&.vertical-middle {
		> * {
			vertical-align: middle;
		}
	}
}

.has-overlay {
	position: relative;
	.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: .5;
	}
}