.display-table {
	display: table;
	> * {
		display: table-cell;
		float: none;
	}
	&.table-full {
		height: 100%;
	}
	&.vertical-middle {
		> * {
			vertical-align: middle;
		}
	}
}

.has-overlay {
	position: relative;
	.overlay {
		opacity: .5;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.hover-fade {
	.transition(opacity @transition-ease);
	&:hover, &:focus {
		opacity: .85;
	}
}

.cat-link {
	display: block;
	i {
		margin-right: @padding-base-vertical;
	}
	&:hover, &:focus {
		span {
			text-decoration: underline;
		}
	}
}

.featured-article {
	.featured-image {
		border-bottom: 1px solid;
		.cat-link {
			color: @white;
			position: absolute;
			bottom: 0;
			left: 0;
			line-height: 1.875em;
			padding: 0 10px;
			.transition(all @transition-ease);
			&:after {
				content: "";
				.square(0px);
				position: absolute;
				bottom:0;
				right: -20px;
				border-top: 15px solid rgba(0,0,0,0);
				border-right: 10px solid rgba(0,0,0,0);
				border-bottom: 15px solid;
				border-left: 10px solid;
				.transition(all @transition-ease);
			}
			&:hover, &:focus {
				line-height: 2.5em;
				&:after {
					border-top-width: 20px;
					border-bottom-width: 20px;
				}
			}
		}
	}
}