// Captions
.wp-caption {
  &:extend(.thumbnail all);
}

.wp-caption-text {
  &:extend(.thumbnail .caption all);
}

// Gallery shortcode
.gallery-row {
  padding: (@line-height-computed / 2) 0;
}

.img-full {
	width: 100%;
}

.bg-cover {
	background-size: cover;
}

.featured-image {
	position: relative;
	.image-author {
		position: absolute;
		background-color: @white;
		bottom: 20px;
		right: 0;
		padding: @thumbnail-caption-padding;
		p {
			margin: 0;
			font-size: @font-size-small;
		}
	}
}

.thumbnail {
	padding: 0;
	margin-bottom: 0;
	background: none;
	border: none;
	.border-radius(0px);
}